<div class="container text-center mt-5">
    <h1>Carrito de compras</h1>     
</div>

<div class="items">
    <div class="container row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4 w-75 m-auto mb-4">
        {{#each proudcts}}
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="{{image}}" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">{{title}}</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">{{price}}</p>
                        <form action="/cart/delete/{{_id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="item-button btn btn-danger btn-sm fs-5">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
    <!-- SHOPPING CART -->
    <div class="shopping-cart mt-auto">
        <div class="container">
            <h2 class="text-center mt-3">Carrito</h2>
            <hr>
            <div class="row">
                <div class="col-6 mt-3">
                    <div class="shopping-cart-header">
                        <h6>Producto</h6>
                    </div>
                </div>
                <div class="col-2 mt-3">
                    <div class="shopping-cart-header">
                        <h6 class="text-truncate">Precio</h6>
                    </div>
                </div>
                <div class="col-4 mt-3">
                    <div class="shopping-cart-header">
                        <h6>Cantidad</h6>
                    </div>
                </div>
            </div>
            <!-- START SHOPPING CART ITEMS -->
            <div class="shopping-cart-items shoppingCartItemsContainer">
                {{!-- Datos insertados desde el archivo products.js --}}
            </div>
            <!-- END SHOPPING CART ITEMS -->
    
            <!-- START TOTAL -->
            <div class="row">
                <div class="col-12">
                    <div class="shopping-cart-total d-flex align-items-center">
                        <p class="mb-0">Total: </p>
                        <p class="ms-4 mb-0 shoppingCartTotal">0$</p>
                        <div class="toast ms-auto" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                                <span>✅</span>
                                <strong class="me-auto">Elemento en el carrito</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                        <div class="toast-body">
                            Se agregó correctamente la cantidad.
                        </div>
                    </div>
                    <button class="btn btn-success ms-auto comprarButton" type="button" data-bs-toggle="modal" data-bs-target="#comprarModal">Comprar</button>
                </div>
            </div>
        </div>
        <!-- END TOTAL -->
    
        <!-- START MODAL COMPRA -->
        <div class="modal" id="comprarModal" aria-labelledby="comprarModalLabel" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog model-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="comprarModalLabel">¡Gracias por su compra!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Pronto recibirá su pedido.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MODAL COMPRA -->
    </div>

    <script src="/js/products.js"></script>