<div class="sub-title m-auto text-center my-5">
    <a class="h1 text-decoration-none text-black" href="#">Nuestros productos</a>
</div>

<div class="items">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4 w-75 m-auto">
        <div class="col text-center searchBarItem">
            <div class="item card h-100" id="gorros-link">
                <img src="/img/01-gorro-bitcoin-lana.png" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Gorro Bitcoin de lana</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$3000</p>
                        <button class="item-button btn btn-dark fs-5 btn-smaddToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/02-gorro-bitcoin.png" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Gorro Bitcoin</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$2000</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/03-gorro-ethereum.png" class="item-image  card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Gorro Ethereum</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$2000</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/04-gorro-doge.png" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Gorro Doge</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$2000</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/05-gorro-shiba.png" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Gorro Shiba</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$2000</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/06-gorro-pancake.png" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Gorro Pancake</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$2000</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100" id="fundas-link">
                <img src="/img/07-funda-bitcoin.png" class="item-image card-img-top img-fluid m-auto fundas">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Funda Bitcoin</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$1400</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/08-funda-eth.png" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Funda Ethereum</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$1400</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/09-funda-sol.png" class="item-image  card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Funda Solana</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$1400</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/10-funda-ada.png" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Funda Cardano</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$1400</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/11-funda-hodl.png" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Funda HODL</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$1400</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/12-funda-to-the-moon.png" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Funda To The Moon</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$1400</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem" id="matesYTazas-link">
            <div class="item card h-100">
                <img src="/img/13-mate-y-taza.png" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Mate BTC + Mate ETH</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$5000</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/14-mate-btc.png" class="item-image  card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Mate Bitcoin</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$2700</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/15-mate-eth.png" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Mate Ethereum</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$2700</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/16-taza-btc.png" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Taza Bitcoin</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$1500</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/17-taza-eth.jpeg" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Taza Ethereum</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$1500</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/18-taza-to_the_moon.png" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Taza To The Moon</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$1500</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem" id="accesorios-link">
            <div class="item card h-100">
                <img src="/img/19-llavero-solana.png" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Llavero Solana</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$700</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/20-llavero-btc.png" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Llavero Bitcoin</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$700</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/21-moneda-btc.png" class="item-image  card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Moneda Bitcoin</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$1500</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/22-moneda-eth.png" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Moneda Ethereum</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$1500</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/23-sticker-ape.png" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Sticker Bored Ape</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$500</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center searchBarItem">
            <div class="item card h-100">
                <img src="/img/24-sticker-punk.png" class="item-image card-img-top img-fluid m-auto">
                <div class="card-body">
                    <h3 class="item-title card-title text-dark text-opacity-75">Sticker Crypto Punk</h3>
                    <div class="item-details">
                        <p class="item-price card-text fs-4">$500</p>
                        <button class="item-button btn btn-dark fs-5 btn-sm addToCart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    
<!-- SHOPPING CART -->
    <div class="shopping-cart mt-4">
        <div class="container">
            <h2 class="text-center mt-3">Carrito</h2>
            <hr>
            <div class="row">
                <div class="col-6 mt-3">
                    <div class="shopping-cart-header">
                        <h6>Producto</h6>
                    </div>
                </div>
                <div class="col-2 mt-3">
                    <div class="shopping-cart-header">
                        <h6 class="text-truncate">Precio</h6>
                    </div>
                </div>
                <div class="col-4 mt-3">
                    <div class="shopping-cart-header">
                        <h6>Cantidad</h6>
                    </div>
                </div>
            </div>
            <!-- START SHOPPING CART ITEMS -->
            <div class="shopping-cart-items shoppingCartItemsContainer">
                {{!-- Datos insertados desde el archivo products.js --}}
            </div>
            <!-- END SHOPPING CART ITEMS -->
    
            <!-- START TOTAL -->
            <div class="row">
                <div class="col-12">
                    <div class="shopping-cart-total d-flex align-items-center">
                        <p class="mb-0">Total: </p>
                        <p class="ms-4 mb-0 shoppingCartTotal">0$</p>
                        <div class="toast ms-auto" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                                <span>✅</span>
                                <strong class="me-auto">Elemento en el carrito</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                        <div class="toast-body">
                            Se agregó correctamente la cantidad.
                        </div>
                    </div>
                    <button class="btn btn-success ms-auto comprarButton" type="button" data-bs-toggle="modal" data-bs-target="#comprarModal">Comprar</button>
                </div>
            </div>
        </div>
        <!-- END TOTAL -->
    
        <!-- START MODAL COMPRA -->
        <div class="modal" id="comprarModal" aria-labelledby="comprarModalLabel" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog model-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="comprarModalLabel">¡Gracias por su compra!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Pronto recibirá su pedido.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MODAL COMPRA -->
    </div>

<script src="/js/products.js"></script>