<footer class="w-100 bg-warning bg-opacity-50 container-fluid border-top border-1 border-secondary text-secondary mt-auto">
        <div class="container-fluid">
            <div class="row p-5 pb-2 text-dark">
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <p class="h3 text-black">
                        CryptStore
                    </p>
                    <p>Buenos Aires, Argentina.</p>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <p class="h5">Métodos de pago</p>
                    <div class="img-icons">
                        <img src="/img/icons/visa.png">
                        <img src="/img/icons/mastercard.png">
                        <img src="/img/icons/mercadopago.png">
                        <img src="/img/icons/pagofacil.png">
                        <img src="/img/icons/rapipago.png">
                        <img src="/img/icons/crypto.png">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <p class="h5">Redes Sociales</p>
                    <div class="instagram">
                        <i class="fa-brands fa-square-instagram"></i>
                        <a href="https://www.instagram.com/ronki.js" target="_blank" class="text-dark text-decoration-none">Instagram</a>
                    </div>
                    <div class="facebook">
                        <i class="fa-brands fa-square-facebook"></i>
                        <a href="https://www.facebook.com/nacho.ronquillo.1/" target="_blank" class="text-dark text-decoration-none">Facebook</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <p class="h5" id="contacto">Contacto</p>
                    <div class="phone">
                        <i class="fa-solid fa-phone"></i>
                        <a href="https://api.whatsapp.com/send/?phone=5491167507094&text=Hola,%20te%20quiero%20hacer%20una%20consulta:" target="_blank" class="text-dark text-decoration-none">11-6750-7094</a>
                    </div>
                    <div class="email">
                        <i class="fa-solid fa-envelope"></i>
                        <a href="mailto:ronquillojuanignacio@gmail.com" target="_blank" class="text-dark text-decoration-none">contacto@cryptstore.com</a>
                    </div>
                </div>
                <div class="col-xs-12 pt-5">
                    <p class="text-center">&copy; Todos los derechos reservados 2022</p>
                </div>
            </div>
        </div>
    </footer>