<form action="/users/signin" method="POST" class="w-100 h-100 m-auto text-center form mt-5">
    <div class="form-group mt-3">
        <div class="my-3">
            <h1 class="mt-5">Hola, bienvenido de nuevo a CryptStore.</h1>
        </div>
        <div class="mb-3">
            <input type="email" class="form-control m-auto" id="formGroupExampleInput2" name="email" placeholder="Email">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control m-auto" id="inputPassword" name="password" placeholder="Contraseña">
        </div>
        <div class="my-4">
            <button class="btn fs-5 bg-warning bg-opacity-50" type="submit">Iniciar sesión</button>
        </div>
        <div class="mb-3">
            <p class="form-text text-dark text-center m-auto">¿No tienes una cuenta? <a href="/users/signup" class="fw-bold text-dark">Regístrate</a></p>
        </div>
    </div>
</form>